<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
   <title>
      TAMU BYX Island Party 2014
   </title>
   <meta name="author" content="{{site.author}}">
   {% if page.excerpt %}
   <meta name="description" content="{{page.excerpt}}">
   {% else %}
   <meta name="description" content="{{site.description}}">
   {% endif %}
   <meta property="og:title" content="TAMU BYX Island Party 2014" />
   <meta property="og:description" content="{{site.description}}" />
   <meta property="og:image" content="http://aggieislandparty.com/img/ip2014-logo.png" />
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/css/i.css">
   {% if page.header_img %}
   <link rel="image_src" href="http://mgyarmathy.github.io{{page.header_img}}"/>
   {% endif %}
   <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
   <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
