<nav role="navigation" class="site-nav">
  <ul class="site-nav--list">
    <li class="site-nav--item">
      <a href="#" title="Home" class="site-nav--link">Home</a>
    </li>
    <li class="site-nav--item">
      <a href="#about" title="About" class="site-nav--link">About</a>
    </li>
    <li class="site-nav--item">
      <a href="#lineup" title="Lineup" class="site-nav--link">Lineup</a>
    </li>
    <li class="site-nav--item">
      <a href="#sponsors" title="Sponsors" class="site-nav--link">Sponsors</a>
    </li>
  </ul>
</nav>
