* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.header-full-bleed {
  width: 100%;
  height: 100%;
  min-height: 600px;
  padding: 5% 0;
  margin-top: 50px;
  text-align: center;

  .header-logo {
    margin: 0;
    height: 515px;
    width: 386px;
    @include breakpoint(one-hand){
      height: 309px;
      width: 232px;
      display: inline-block;
    }
    display: inline;
  }

  .header-content {
    width: 100%;
    max-height: 300px;
    background-color: rgba(0,0,0,0.4);
    padding: 25px;
    text-align: center;

    h1,h2,h3 {
      color: white;
      text-shadow: 0 2px 2px rgba(0,0,0,0.8);
      text-transform: none;
      word-wrap: break-word;
      margin: 0;
    }
  }

  @include breakpoint(one-hand){
      padding: 20% 0;
      min-height: 400px;
  }
}

.post hr {
  width: 30%;
  margin: 3em auto;
}

.artist-img {
  width: 90%;
  height: 200px;
  background-size:100% 100%;
  @include breakpoint(one-hand){
    width: 100%;
  }
}

#lineup ul li {
  &:first-child {
    font-weight: 800;
  }
}

.sponsor-img {
  display: inline-block;
  width: 35%;
  margin: 2% 5%;
}

.special-thanks {
  li {
    display: inline;
    text-transform: uppercase;
    &:nth-child(odd) {
      color: $blue-dark;
    }
  }
}

.mobile-only {
  display: none;
  @include breakpoint(one-hand){
      display: block;
  }
}

.hide-mobile {
  display: inherit;
  @include breakpoint(one-hand){
      display: none;
  }
}

/* Youtube Embed */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.speaker {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: $type-4 - 12px;
  @include breakpoint(one-hand){
      font-size: $type-5 - 6px;
  }
}
